body {
    font-size: 200%;
    color:rgb(236, 93, 22);
    background-color:aquamarine;
}
p {
    color:black;
} 
t1 {
    font-weight: bold;
}
t2 {
    color:darkorange;
    font-size: 200%;
}
label {
    font-size:65%;
}
