.e {
    background-color: greenyellow;
}
.f {
    background-color: aquamarine;
}
body {
    background-color: burlywood;
}
a:link {
    color: blue;
}
a:visited {
    color:brown;
}
a:hover {
    text-decoration: none;
}